<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloning Testy App</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<nav class="search-nav-section">
    <div class="top">
<h1 class="Logo">Etsy</h1><input type="search" id="search" name="search" placeholder="search for shops">
<form action="/auth/login" method="POST" class="signin">sign</form>
</div>
<div class="category-links"> 
   <div class="Jewelry category-links">Jewelry and accessories</div>
   <div class="clothing category-links">Clothing and shoes</div>
   <div class="Wedding category-links">Wedding and party</div>
   <div class="Home category-links"> Home and Living</div>
</div>
<hr class="divide-nav-section">
</nav>
    
